* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: auto;
    height: auto;
   
    background-image: url("image/background.jpg");
   
   
   
      

}
/*
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Silkscreen', sans-serif;
*/
header{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width: 55%;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(204, 204, 204);
}
.logo2{
    width: 55%;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;

}
.logo3{
    width: 55%;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(31, 31, 31);
}
.logo4{
    width: 55%;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    background-color: #3b1a15;
}

.menu{
    width: 45%;
    height: 110px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding-right: 10px;
}

.menu2{
    width: 45%;
    height: 110px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(31, 31, 31);
    padding-right: 10px;
}

.menu3{
    width: 45%;
    height: 110px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #3b1a15;
    padding-right: 10px;
}
    

button {
    background-color: transparent; /* 设置背景颜色为透明 */
    border: none; /* 移除边框 */
    outline: none; /* 移除聚焦时的边框 */
}
.menuMid{
    width: 85%;
    height: 720px;
   
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu-text-vlak{
    width: 500px;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin:auto 0 auto 0;
}
a {
    color: inherit; /* 使用父元素的颜色 */
    text-decoration: none; /* 移除下划线 */
}
.menu-text{
    font-size: 100px;
    font-family: 'Rubik', sans-serif;

}
.menu-img-vlak{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin:auto 0 auto 0;
}
.menu-img{
    width: 80%;
   
}
.mid{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    position: absolute;
    z-index: 1;
}
.left{
    width: 55%;
    height: 870px;
    /*background-color: rgb(204, 204, 204);*/
    background:  rgb(204, 204, 204);    
    display: flex;
    margin-top: 0;
    flex-direction: column;
    
}
.title-vlak{
    width: 80%;
    height: 400px;
    margin: 20px auto 0 auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    
}
.left-text-vlak{
    width: 80%;
    height: 400px;
    margin: 0 auto 0 auto;
    
    
}
.left-text{
    width: 60%;
    height: 400px; 
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.right{
    width: 45%;
    height: auto;
    background-color: white;
    display: flex;
    margin-top: 0;
    flex-direction: column;
}
.foto-vlak{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.foto-vlak-inner{
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;

}
.foto-1{
    width: 32% ;
    height: 90%;
    margin-left: -50px;
    
}
.foto-2{
    width: 30%;
    height: 50%;
    display: flex;
    margin: -20px 0 0 80px;
    
}
.foto-3{
    width: 55%;
    height: 350px;
}
.foto-4{
    width: 40%;
    height: 270px;
    margin: 30px 0 0 40px;
}
.studie{
    width: 100%;
    height: auto;
    font-size: 300px;
    margin-top: 700px;
    font-weight: 800;
    text-align: center;
    background-color: rgb(31, 31, 31);
    color: rgb(231, 231, 231);
}
.studie-vlak{
    width: 100%;
    height: 850px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
}
.studie-vlak-left{
    width: 45%;
    height: auto;
    margin: auto;
}
.studie-vlak-left-text{
    width: 80%;
    height: auto;
    margin: auto;
    color: rgb(231, 231, 231);
   
    font-family:'Permanent Marker', cursive;
    font-size: 45px;
}
.studie-vlak-right{
    width: 45%;
    height: auto;
    margin: 1% auto 0 auto;
}
.studie-vlak-right-text{
    width: 90%;
    height: 600px;
    margin: 0 auto 0 auto;
    color: rgb(231, 231, 231);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.studie-vlak-right-text-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.studie-vlak-right-text-meer{
    width: 90%;
    height: auto;
    color: rgb(231, 231, 231);
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10% auto 0 auto;
}
.studie-vlak-right-text-meer h1{
    color: rgb(231, 231, 231);
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.hobby{
    width: 100%;
    height: 200px;
    text-align: start;
    background-color: #A68970;
    color: #e6e0d7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
h2{
    height: 100px;
    font-size: 150px;
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 900;
    text-align: start;
    background-color: #A68970;
    color: #e6e0d7;
    
    
}
.hobby-vlak{
    width: 100%;
    height: 1300px;
    background-color: #A68970;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hobby-vlak-in{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 50px auto;

}
.hobby-vlak-foto{
    width: 300px;
    height: 300px;
    overflow: hidden
}
.hobby-vlak-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hobby-vlak-text{
    width: 70%;
    height: 100%;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: start;
    color: #e6e0d7;
    letter-spacing: 2px;
    line-height: 1.5;
}

.contact{
    width: 100%;
    height: 1200px;
    text-align: start;
    background-color: #333832;
    color: #e8e1db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-title{
    width: 20%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3{
    height: 150px;
    font-size: 150px;
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 900;
    text-align: center;
   
}
h4{
    height:150px ;
    font-size: 150px;
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 900;
    text-align: center;
}
.contact-vlak{
    width: 800px;
    margin: 200px auto;
    padding: 20px;
    background-color: #333832;
   
}

label {
    display: block;
    margin-bottom: 40px;
}

.contact-text{
    font-size: 30px;
    font-family: 'Hedvig Letters Serif', serif;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(145, 145, 145);
    
}

button:hover {

}
.studiemid{
    display: flex;
    
    align-items: center;
    height: 3950px;
    margin: 0;
    background-color: rgb(31, 31, 31);
    flex-direction: column;
}
.studiemid-top{
    height: 250px;
    width: 250px;
    margin-top: -100px;
    margin-bottom: 150px;
  
}



.rotating-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 150px;
    color: rgb(231, 231, 231);
    font-family: 'Rubik', sans-serif;
    margin: 50px;

}

@keyframes rotateClockwise {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

  @keyframes rotateCounterClockwise {
    0% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(-20deg);
    }
  }

.studiemid-mid{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    
}
.studiemid-mid-left{
    height: 800px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 150px;
    color: rgb(231, 231, 231);
    font-family: 'Rubik', sans-serif;
}
.studiemid-mid-right{
    height: 800px;
    width: 400px;
    margin-left: 600px;
    display: flex;
    
    
    font-family: 'Rubik', sans-serif;
    color: rgb(231, 231, 231);
    align-items: end;
    font-size: 15px;
    flex-direction: column;
}
.studiemid-mid-r-top{
    width: 650px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 100px; 
    margin-top: -100px;   
}
.studie-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line {
    height: 2px; /* 设置线的高度 */
    width: 100%; /* 设置线的宽度为100% */
    background-color: #ffffff; /* 设置线的颜色 */
    margin-top: -100px;
}
.studiemid-mid2{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
   
    
    
}
.studiemid-bottom{
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -150px;
}
.studiemid-bottom-text{
    height: 200px;
    width: 100%;
    color: rgb(231, 231, 231);
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 30px;
}
.foot{
    width: 100%;
    height: 100px;

}

footer{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,#333832, rgb(0, 0, 0),rgb(0, 0, 0), rgb(0, 0, 0));    
}

.hobbymid{
    display: flex;
    
    align-items: center;
    height: 3950px;
    margin: 0;
    background-color: #3b1a15;
    flex-direction: column;
}

.hobbymid-in{
    height: 3860px;
    width: 90%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.hobbymid-1{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.hobby-1-title{
    font-family: 'Hedvig Letters Serif', serif;
    color: #ffffff;
    font-size: 120px;
    margin-top: -20px;
    margin-bottom: -20px;
    
}

.hobby-1-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
  
      
}
.hobby-1-foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hobby-1-text{
    
    font-family: 'Hedvig Letters Serif', serif;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    
}
.hobby-1-text-in{
    width: 500px;

}
.red-line {
    height: 4px; /* 设置线的高度 */
    width: 100%; /* 设置线的宽度为100% */
    background-color: #3b1a15; /* 设置线的颜色 */
    margin-top: 40px;
}
.hobbymid-2{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.hobbymid-2-in{
    height: 500px;
    width: 33%;
    display: flex;
    flex-direction: row;
}
.hobbymid-2-title{
    font-family: 'Hedvig Letters Serif', serif;
    color: #ffffff;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    writing-mode: vertical-rl; /* vertical right-to-left */
    text-orientation: upright; /* keep text upright */
    white-space: nowrap; /* prevent wrapping */
    
}
.hobbymid-2-inhoud{
    display: flex;
    flex-direction: column;
}
.hobbymid-2-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
  
      
}
.hobbymid-2-foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hobbymid-2-text{
    width: 70%;
    color: #ffffff;
    display: flex;
    justify-content: end;
    
}

@media only screen and (max-width: 1000px) {
    .menu {
        background-color: rgb(204, 204, 204);
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .title-vlak{
        font-size: 40px;
    }
    .foto-vlak{
        display: none;
    }
    .studie{
        width: 100%;
        height: auto;
        font-size: 100px;
        margin-top: 820px;
        font-weight: 800;
        text-align: center;
        background-color: rgb(31, 31, 31);
        color: rgb(231, 231, 231);
    }
    .studie-vlak{
        width: 100%;
        height: 1500px;
        background-color: rgb(31, 31, 31);
        display: flex;
        flex-direction: column;
    }
    .studie-vlak-left{
        width: 80%;
        height: auto;
        margin: auto;
    }
    .studie-vlak-left-text{
        width: 100%;
        height: auto;
        margin: auto;
        color: rgb(231, 231, 231);
       
        font-family:'Permanent Marker', cursive;
        font-size: 30px;
    }
    .studie-vlak-right{
        width: 90%;
        height: auto;
        margin: 1% auto 0 auto;
    }
    .hobby{
        width: 100%;
        height: 200px;
        text-align: start;
        background-color: #A68970;
        color: #e6e0d7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    h2{
        height: 100px;
        font-size: 100px;
        font-family: 'Hedvig Letters Serif', serif;
        font-weight: 900;
        text-align: start;
        background-color: #A68970;
        color: #e6e0d7;
        
        
    }
    .hobby-vlak-text{
        width: 200%;
        height: 100%;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        text-align: start;
        color: #e6e0d7;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    .contact{
        width: 100%;
        height: 800px;
        text-align: start;
        background-color: #333832;
        color: #e8e1db;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-title{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    h3{
        height: 150px;
        font-size: 80px;
        font-family: 'Hedvig Letters Serif', serif;
        font-weight: 900;
        text-align: center;
       
    }
    h4{
        height:150px ;
        font-size: 80px;
        font-family: 'Hedvig Letters Serif', serif;
        font-weight: 900;
        text-align: center;
    }
    .contact-vlak{
        width: 100%;
        margin: 0px auto;
        padding: 20px;
        background-color: #333832;
       
    }

       
  }
@media only screen and (max-width: 800px) {
    .mid {
        display: flex;
        flex-direction: column;
    }
    
}
